$background-color: #dfdbdb;
$green: #064747;
$white-20: #dcdcdc;
$white-10: #f9f9f9c4;
$radial-gradient: radial-gradient(86% 100% at 10% 9%, #fad4f3 0%, #ee84d6 60%, #00aeaa 90%);
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
$box-shadow-lg: 0 0 5px 0 rgba(0, 0, 0, 0.2);
$white-transparent: #ffffffaf;
$white: #fff;
$black: #000;
$bc-dark: #0009;
$green-light: #026d6d;
$green-transparent: #008a8893;
$red-light: #ff5757;
$red-dark: #ff0000;
$blue-light: #5676ff;
$blue-dark: #0c0eff;
$green-bc: #008a8838;