@use "../../styles/variables.scss" as vars;

.input {
  $self: &;
  position: relative;

  &__label {
    background-color: map-get(vars.$colors, gray);
    border-radius: vars.$border-radius-md;
    border: 1px solid map-get(vars.$colors, gray);
    column-gap: vars.$spacing-sm;
    padding: vars.$spacing-xs vars.$spacing-sm;
    transition: 0.2s ease;

    align-items: center;
    display: flex;
    position: relative;

    &#{$self}__label--focus {
      background-color: map-get(vars.$colors, primary);
      border-color: map-get(vars.$colors, primary);
    }

    &#{$self}__label--error {
      background-color: map-get(vars.$colors, error);
      border-color: map-get(vars.$colors, error);
    }

    &--disabled {
      background-color: #e9e9e9;

      &#{$self}__label--focus {
        background-color: #e9e9e9;
        border-color: map-get(vars.$colors, gray);
      }
    }
  }

  &__error {
    color: map-get(vars.$colors, error);
    font-size: 0.875rem;
    display: block;
    margin-top: vars.$spacing-xs;
    padding-left: vars.$spacing-sm;
  }

  &__text {
    width: calc(100% - #{vars.$spacing-lg});
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__input,
  &__textarea {
    font-family: vars.$font-family-base;
    font-size: 0.95rem;
    display: inline-grid;
    border: none;
    outline: none;
    background-color: transparent;
    color: map-get(vars.$colors, secondary);
  }

  &__icon {
    color: map-get(vars.$colors, primary);
    font-size: 0.95rem;
  }
}